<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vue.js - Github Api - User Search</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
      <div id="modal" class="modal">
        <div class="modal-content">
          <h4>User Profile</h4>
          <p>This section will contain user information.</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>
      <div class="container" id="searchUser">
      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="col s12">
              <div class="github-logo">
                <img src="images/github-logo.png" alt="" width="48">
                <b>Github Api - User Search</b>
              </div>
            </div>
            <div class="input-field col s11" >
              <input type="text" v-model="query" v-on:keyup.13="search()">
              <label>Search User Name</label>
            </div>
            <div class="input-field col s1">
              <button v-on:click="search()" class="btn-floating btn-large waves-effect waves-light purple lighten-1 pulse"><i class="material-icons">search</i></button>
            </div>
          </div>
          <div class="row hide" v-bind:style="{ display: display }">
              <div class="center" v-if="errorMessage" v-show="messageShow">{{errorMessage}}</div>
              <div class="center" v-show="loading">
                <div class="preloader-wrapper active">
                  <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div><div class="gap-patch">
                      <div class="circle"></div>
                    </div><div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div v-if="results" v-show="listShow">
                <b>Total User : {{results.total_count}}</b>  / <b>Listed User : {{results.items.length}}</b>
                <div v-for="item in results.items">
                  <div class="col s3 developer-card">
                    <div class="chip">
                     <img :src="item.avatar_url">
                     <a :href="item.html_url" class="tag-a left" target="_blank" rel="noreferrer noopener">
                       <span v-if="item.login.length > userNameLength">{{item.login.substring(0,userNameLength)}}<small> ...</small></span>
                       <span v-else>{{item.login}}</span>
                     </a>
                     <a class="right detail modal-trigger" href="#modal" v-on:click="info(item.url)">Detail</a>
                   </div>
                  </div>
                </div>
              </div>
           </div>
         </div>
       </div>
      </div>
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <script src="https://unpkg.com/vue"></script>
      <script src="script.js" charset="utf-8"></script>
      <script type="text/javascript">
        $(document).ready(function(){
          $('.modal').modal();
        });
      </script>
  </body>
</html>
